head {
    background-color: black;
    color:ivory;
}

body {
    background-color:rgb(17, 20, 22);
    color: ivory;
    text-align:left;
}

header {
    background-color: black;
    color: darkorange;
    text-align: center;
    font-size: 200%;
    font-style:initial;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: rgb(0, 0, 0);
    padding: 100px;
    color:darkorange;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}

h2:hover {
    background-image: url("https://i.ibb.co/9p5K554/Blues-Clues-Dude.png");
}

p {
    font-size: 20px;
    text-align: center;
}

ol {
    background-color: black;
    color: darkorange;
}

ul {
    background-color: black;
    color: darkorange;
}

.Operationsup {
    color: darkred;
}